In [1]:
import pymysql
import pandas as pd

host = '127.0.0.1'
port = "3306"
user = 'root'
password = ''
database = 'classicmodels'

conn = pymysql.connect(
    host=host,
    port=int(port),
    user=user,
    passwd=password,
    db=database,
    charset='utf8mb4')

def run(sql):
    df = pd.read_sql_query(sql,conn)
    return df

# One to many relationship
## 1. Report the account representative for each customer.

In [2]:
run("""
SELECT
    customerName,
    CONCAT(firstName, lastName) AS 'account representative'
FROM
    customers c
        INNER JOIN
    employees e ON c.salesRepEmployeeNumber = e.employeeNumber
""")

                          customerName account representative
0         Mini Gifts Distributors Ltd.         LeslieJennings
1                      Mini Wheels Co.         LeslieJennings
2                 Technics Stores Inc.         LeslieJennings
3             Corporate Gift Ideas Co.         LeslieJennings
4            The Sharp Gifts Warehouse         LeslieJennings
5             Signal Collectibles Ltd.         LeslieJennings
6                   Signal Gift Stores         LeslieThompson
7                    Toys4GrownUps.com         LeslieThompson
8                    Boards & Toys Co.         LeslieThompson
9         Collectable Mini Designs Co.         LeslieThompson
10          Men 'R' US Retailers, Ltd.         LeslieThompson
11         West Coast Collectables Co.         LeslieThompson
12          Cambridge Collectables Co.          JulieFirrelli
13            Online Mini Collectables          JulieFirrelli
14                 Mini Creations Ltd.          JulieFirrelli
15             Classic Gift Ideas, Inc          JulieFirrelli
16          Collectables For Less Inc.          JulieFirrelli
17                Diecast Collectables          JulieFirrelli
18               Diecast Classics Inc.         StevePatterson
19             Auto-Moto Classics Inc.         StevePatterson
20                Marta's Replicas Co.         StevePatterson
21                   Gifts4AllAges.com         StevePatterson
22        Online Diecast Creations Co.         StevePatterson
23                    FunGiftIdeas.com         StevePatterson
24                  Muscle Machine Inc          Foon YueTseng
25              American Souvenirs Inc          Foon YueTseng
26                     Vitachrome Inc.          Foon YueTseng
27        Québec Home Shopping Network          Foon YueTseng
28                Classic Legends Inc.          Foon YueTseng
29                    Super Scale Inc.          Foon YueTseng
..                                 ...                    ...
70                  Baane Mini Imports             BarryJones
71                Blauer See Auto, Co.             BarryJones
72            Volvo Model Replicas, Co             BarryJones
73                        Herkku Gifts             BarryJones
74             Clover Collections, Co.             BarryJones
75             Toms Spezialitäten, Ltd             BarryJones
76           Norway Gifts By Mail, Co.             BarryJones
77  Bavarian Collectables Imports, Co.             BarryJones
78             Scandinavian Gift Ideas             BarryJones
79          Australian Collectors, Co.             AndyFixter
80             Anna's Decorations, Ltd             AndyFixter
81           Souveniers And Things Co.             AndyFixter
82         Australian Gift Network, Co             AndyFixter
83        Australian Collectables, Ltd             AndyFixter
84                    Handji Gifts& Co             PeterMarsh
85          Down Under Souveniers, Inc             PeterMarsh
86                     GiftsForHim.com             PeterMarsh
87       Extreme Desk Decorations, Ltd             PeterMarsh
88                   Kelly's Gift Shop             PeterMarsh
89             Dragon Souveniers, Ltd.              MamiNishi
90                Osaka Souveniers Co.              MamiNishi
91         King Kong Collectables, Co.              MamiNishi
92                     Cruz & Sons Co.              MamiNishi
93             Tokyo Collectables, Ltd              MamiNishi
94                  Enaco Distributors           MartinGerard
95                     Vida Sport, Ltd           MartinGerard
96                         CAF Imports           MartinGerard
97               Precious Collectables           MartinGerard
98          Corrida Auto Replicas, Ltd           MartinGerard
99          Iberia Gift Imports, Corp.           MartinGerard

[100 rows x 2 columns]

## 2. Report total payments for Atelier graphique.

In [3]:
run("""
SELECT
    SUM(amount) AS 'total payments for Atelier graphique'
FROM
    customers
        INNER JOIN
    payments USING (customerNumber)
WHERE
    customerName = 'Atelier graphique'
""")

   total payments for Atelier graphique
0                              22314.36

## 3. Report the total payments by date

In [4]:
run("SELECT paymentDate, SUM(amount) AS 'total payments' FROM payments GROUP BY paymentDate ORDER BY paymentDate")

    paymentDate  total payments
0    2003-01-16        10223.83
1    2003-01-28        10549.01
2    2003-01-30         5494.78
3    2003-02-16        50218.95
4    2003-02-20        53959.21
5    2003-02-25        40206.20
6    2003-03-02        52151.81
7    2003-03-09        51001.22
8    2003-03-12        22292.62
9    2003-03-20        25833.14
10   2003-03-27        48425.69
11   2003-04-09        24212.79
12   2003-04-11        11044.30
13   2003-04-16        21665.98
14   2003-04-19         1627.56
15   2003-04-20        33383.14
16   2003-04-22        44380.15
17   2003-05-09         3101.40
18   2003-05-12        35826.33
19   2003-05-20        45864.03
20   2003-05-21        16700.47
21   2003-05-25        50824.66
22   2003-05-31         7565.08
23   2003-06-05        14571.44
24   2003-06-06        32641.98
25   2003-06-13        57131.92
26   2003-06-18        58841.35
27   2003-06-25        17032.29
28   2003-07-05         2880.00
29   2003-07-06         6036.96
..          ...             ...
202  2005-02-02        12692.19
203  2005-02-03        14379.90
204  2005-02-06        39580.60
205  2005-02-09        27083.78
206  2005-02-12        28322.83
207  2005-02-14        33967.73
208  2005-02-15        46770.52
209  2005-02-22        49523.67
210  2005-03-01        21432.31
211  2005-03-02         3452.75
212  2005-03-05       101244.59
213  2005-03-10        23602.90
214  2005-03-15        46781.66
215  2005-03-18       120166.58
216  2005-03-25        65071.26
217  2005-03-27         3516.04
218  2005-04-15        30293.77
219  2005-04-16        83598.04
220  2005-04-18        27966.54
221  2005-04-23        12190.85
222  2005-04-30        29848.52
223  2005-05-03        43964.87
224  2005-05-17        17928.09
225  2005-05-18          615.45
226  2005-05-19        75396.26
227  2005-05-20        29070.38
228  2005-05-23        75020.13
229  2005-05-25        30253.75
230  2005-06-03        12432.32
231  2005-06-09        46656.94

[232 rows x 2 columns]

## 4. Report the products that have not been sold.

In [5]:
run("SELECT * FROM products p LEFT JOIN orderdetails o USING (productCode) WHERE orderNumber IS NULL")

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,orderNumber,quantityOrdered,priceEach,orderLineNumber
0,S18_3233,1985 Toyota Supra,Classic Cars,1:18,Highway 66 Mini Classics,"This model features soft rubber tires, working...",7733,57.01,107.57,None,None,None,None

## 5. List the amount paid by each customer.

In [6]:
run("""
SELECT
    customerName,
    SUM(amount) AS amount
FROM
    customers
        INNER JOIN
    payments USING (customerNumber)
GROUP BY
    customerNumber
""")

                          customerName     amount
0                    Atelier graphique   22314.36
1                   Signal Gift Stores   80180.98
2           Australian Collectors, Co.  180585.07
3                    La Rochelle Gifts  116949.68
4                   Baane Mini Imports  104224.79
5         Mini Gifts Distributors Ltd.  584188.24
6                 Blauer See Auto, Co.   75937.76
7                      Mini Wheels Co.   66710.56
8                    Land of Toys Inc.  107639.94
9               Euro+ Shopping Channel  715738.98
10            Volvo Model Replicas, Co   43680.65
11            Danish Wholesale Imports  107446.50
12              Saveley & Henriot, Co.  130305.35
13             Dragon Souveniers, Ltd.  156251.03
14                  Muscle Machine Inc  177913.95
15               Diecast Classics Inc.   98509.25
16                Technics Stores Inc.  104545.22
17                    Handji Gifts& Co  105420.57
18                        Herkku Gifts   97562.47
19            Daedalus Designs Imports   61781.70
20           La Corne D'abondance, Co.   86553.52
21          Cambridge Collectables Co.   32198.69
22                     Gift Depot Inc.   95424.63
23                Osaka Souveniers Co.   62361.22
24                     Vitachrome Inc.   72497.64
25                Toys of Finland, Co.   95546.46
26                      AV Stores, Co.  148410.09
27             Clover Collections, Co.   49898.27
28             Auto-Moto Classics Inc.   21554.26
29               UK Collectables, Ltd.   61167.18
..                                 ...        ...
68                     GiftsForHim.com   56662.38
69                   Gifts4AllAges.com   33533.47
70        Online Diecast Creations Co.  116449.29
71          Collectables For Less Inc.   73533.65
72                        Royale Belge   29217.18
73               Salzburg Collectables   85060.00
74                     Cruz & Sons Co.   87468.30
75                 L'ordine Souveniers   90143.31
76             Tokyo Collectables, Ltd  105548.73
77                   Auto Canal+ Petit   86436.97
78       Extreme Desk Decorations, Ltd   66704.94
79  Bavarian Collectables Imports, Co.   31310.09
80                Classic Legends Inc.   69214.33
81                    Gift Ideas Corp.   49967.78
82             Scandinavian Gift Ideas   76776.44
83           The Sharp Gifts Warehouse   59551.38
84                     Mini Auto Werke   51059.99
85                    Super Scale Inc.   70378.65
86                     Microscale Inc.   29230.43
87          Corrida Auto Replicas, Ltd  112440.09
88                    FunGiftIdeas.com   88627.49
89        Australian Collectables, Ltd   44920.76
90                  Frau da Collezione   25358.32
91         West Coast Collectables Co.   43748.72
92          Iberia Gift Imports, Corp.   50987.85
93        Motor Mint Distributors Inc.   77726.59
94            Signal Collectibles Ltd.   42570.37
95      Double Decker Gift Stores, Ltd   29586.15
96                Diecast Collectables   65541.74
97                   Kelly's Gift Shop  114497.19

[98 rows x 2 columns]

## 6. How many orders have been placed by Herkku Gifts?

In [7]:
run("""
SELECT
    COUNT(orderNumber) AS 'number of orders have been placed by Herkku Gifts'
FROM
    orders
        INNER JOIN
    customers USING (customerNumber)
WHERE
    customerName = 'Herkku Gifts'
""")

   number of orders have been placed by Herkku Gifts
0                                                  3

## 7. Who are the employees in Boston?

In [8]:
run("SELECT * FROM employees e INNER JOIN offices o USING (officeCode) WHERE city = 'Boston'")

,officeCode,employeeNumber,lastName,firstName,extension,email,reportsTo,jobTitle,city,phone,addressLine1,addressLine2,state,country,postalCode,territory
0,2,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA
1,2,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,1143,Sales Rep,Boston,+1 215 837 0825,1550 Court Place,Suite 102,MA,USA,02107,NA

## 8. Report those payments greater than \$100,000. Sort the report so the customer who made the highest payment appears first.

In [9]:
run("SELECT * FROM payments INNER JOIN customers USING (customerNumber) WHERE amount > 100000 ORDER BY amount DESC")

,customerNumber,checkNumber,paymentDate,amount,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,141,JE105477,2005-03-18,120166.58,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,1370,227600.0
1,141,ID10962,2004-12-31,116208.40,Euro+ Shopping Channel,Freyre,Diego,(91) 555 94 44,"C/ Moralzarzal, 86",None,Madrid,None,28034,Spain,1370,227600.0
2,124,KI131716,2003-08-15,111654.40,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165,210500.0
3,148,KM172879,2003-12-26,105743.00,"Dragon Souveniers, Ltd.",Natividad,Eric,+65 221 7555,Bronz Sok.,Bronz Apt. 3/6 Tesvikiye,Singapore,None,079903,Singapore,1621,103800.0
4,124,AE215433,2005-03-05,101244.59,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,None,San Rafael,CA,97562,USA,1165,210500.0

## 9. List the value of 'On Hold' orders.

In [10]:
run("""
SELECT
    orderNumber,
    orderDate,
    requiredDate,
    shippedDate,
    status,
    comments,
    customerNumber,
    SUM(quantityOrdered * priceEach) AS value
FROM
    orders
        INNER JOIN
    orderdetails USING (orderNumber)
WHERE
    status = 'On Hold'
GROUP BY
    orderNumber
""")

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,value
0,10334,2004-11-19,2004-11-28,None,On Hold,The outstaniding balance for this customer exc...,144,23014.17
1,10401,2005-04-03,2005-04-14,None,On Hold,Customer credit limit exceeded. Will ship when...,328,43525.04
2,10407,2005-04-22,2005-05-04,None,On Hold,Customer credit limit exceeded. Will ship when...,450,52229.55
3,10414,2005-05-06,2005-05-13,None,On Hold,Customer credit limit exceeded. Will ship when...,362,50806.85

## 10. Report the number of orders 'On Hold' for each customer.

In [11]:
run("""
SELECT 
    customerName,
    COUNT(orderNumber) AS numberOfOrdersOnHold
FROM
    customers c
        LEFT JOIN
    orders o ON c.customerNumber = o.customerNumber
        AND o.status = 'On Hold'
GROUP BY
    customerName
ORDER BY
    numberOfOrdersOnHold DESC
""")

                       customerName  numberOfOrdersOnHold
0                 Gifts4AllAges.com                     1
1         The Sharp Gifts Warehouse                     1
2          Volvo Model Replicas, Co                     1
3           Tekni Collectables Inc.                     1
4                 Atelier graphique                     0
5                Baane Mini Imports                     0
6                   Mini Wheels Co.                     0
7          Danish Wholesale Imports                     0
8             Diecast Classics Inc.                     0
9            American Souvenirs Inc                     0
10       Cambridge Collectables Co.                     0
11             Toys of Finland, Co.                     0
12            UK Collectables, Ltd.                     0
13       Asian Shopping Network, Co                     0
14                Boards & Toys Co.                     0
15                    ANG Resellers                     0
16         Messner Shopping Network                     0
17          Toms Spezialitäten, Ltd                     0
18                    Rovelli Gifts                     0
19                  Vida Sport, Ltd                     0
20          Oulu Toy Supplies, Inc.                     0
21         Corporate Gift Ideas Co.                     0
22      Australian Gift Network, Co                     0
23                      CAF Imports                     0
24               Reims Collectables                     0
25       Collectables For Less Inc.                     0
26              L'ordine Souveniers                     0
27    Extreme Desk Decorations, Ltd                     0
28                 Gift Ideas Corp.                     0
29                 Super Scale Inc.                     0
..                              ...                   ...
92        Kremlin Collectables, Co.                     0
93         Signal Collectibles Ltd.                     0
94                La Rochelle Gifts                     0
95             Blauer See Auto, Co.                     0
96               Muscle Machine Inc                     0
97                     Herkku Gifts                     0
98        La Corne D'abondance, Co.                     0
99                  Vitachrome Inc.                     0
100         Auto-Moto Classics Inc.                     0
101               Toys4GrownUps.com                     0
102              Enaco Distributors                     0
103    Québec Home Shopping Network                     0
104                    Alpha Cognac                     0
105            Auto Associés & Cie.                     0
106         Anna's Decorations, Ltd                     0
107               BG&E Collectables                     0
108                Der Hund Imports                     0
109             Mini Creations Ltd.                     0
110         Classic Gift Ideas, Inc                     0
111            Marseille Mini Autos                     0
112                 Kommission Auto                     0
113           Precious Collectables                     0
114                 Cruz & Sons Co.                     0
115  Stuttgart Collectable Exchange                     0
116        Feuer Online Stores, Inc                     0
117                 Mini Auto Werke                     0
118                Warburg Exchange                     0
119              Frau da Collezione                     0
120              Raanan Stores, Inc                     0
121  Double Decker Gift Stores, Ltd                     0

[122 rows x 2 columns]

# Many to many relationship
## 1. List products sold by order date.

In [12]:
run("""
SELECT
    productName,
    orderDate,
    status
FROM
    ((orderdetails
        INNER JOIN
    orders USING (orderNumber))
        INNER JOIN
    products USING (productCode))
WHERE
    status = 'Shipped'
ORDER BY
    orderDate
""")

                                      productName   orderDate   status
0                        1917 Grand Touring Sedan  2003-01-06  Shipped
1                              1911 Ford Town Car  2003-01-06  Shipped
2             1932 Alfa Romeo 8C2300 Spider Sport  2003-01-06  Shipped
3                1936 Mercedes Benz 500k Roadster  2003-01-06  Shipped
4                       1932 Model A Ford J-Coupe  2003-01-09  Shipped
5                          1928 Mercedes-Benz SSK  2003-01-09  Shipped
6                     1939 Chevrolet Deluxe Coupe  2003-01-09  Shipped
7       1938 Cadillac V-16 Presidential Limousine  2003-01-09  Shipped
8                            1937 Lincoln Berline  2003-01-10  Shipped
9        1936 Mercedes-Benz 500K Special Roadster  2003-01-10  Shipped
10                       1952 Alpine Renault 1300  2003-01-29  Shipped
11                         1962 LanciaA Delta 16V  2003-01-29  Shipped
12                                 1958 Setra Bus  2003-01-29  Shipped
13                         1940 Ford Pickup Truck  2003-01-29  Shipped
14                          1926 Ford Fire Engine  2003-01-29  Shipped
15                    1913 Ford Model T Speedster  2003-01-29  Shipped
16                             1934 Ford V8 Coupe  2003-01-29  Shipped
17            18th Century Vintage Horse Carriage  2003-01-29  Shipped
18                       1917 Maxwell Touring Car  2003-01-29  Shipped
19                               1940s Ford truck  2003-01-29  Shipped
20                        1939 Cadillac Limousine  2003-01-29  Shipped
21                       1962 Volkswagen Microbus  2003-01-29  Shipped
22                          1936 Chrysler Airflow  2003-01-29  Shipped
23                    1980’s GM Manhattan Express  2003-01-29  Shipped
24    1996 Peterbilt 379 Stake Bed with Outrigger  2003-01-29  Shipped
25                                1982 Camaro Z28  2003-01-29  Shipped
26                             1969 Corvair Monza  2003-01-31  Shipped
27                              1957 Chevy Pickup  2003-01-31  Shipped
28                 1998 Chrysler Plymouth Prowler  2003-01-31  Shipped
29                         1964 Mercedes Tour Bus  2003-01-31  Shipped
...                                           ...         ...      ...
2741                     1928 Ford Phaeton Deluxe  2005-05-10  Shipped
2742                 1930 Buick Marquette Phaeton  2005-05-10  Shipped
2743                  American Airlines: B767-300  2005-05-10  Shipped
2744               America West Airlines B757-200  2005-05-10  Shipped
2745                                ATA: B757-300  2005-05-10  Shipped
2746                           F/A 18 Hornet 1/72  2005-05-10  Shipped
2747                    American Airlines: MD-11S  2005-05-10  Shipped
2748                         1969 Dodge Super Bee  2005-05-16  Shipped
2749                        1976 Ford Gran Torino  2005-05-16  Shipped
2750                             1957 Vespa GS150  2005-05-16  Shipped
2751                    1957 Corvette Convertible  2005-05-16  Shipped
2752                      1982 Ducati 900 Monster  2005-05-16  Shipped
2753                        1961 Chevrolet Impala  2005-05-16  Shipped
2754                            1982 Ducati 996 R  2005-05-16  Shipped
2755                    1974 Ducati 350 Mk3 Desmo  2005-05-16  Shipped
2756                           2002 Yamaha YZR M1  2005-05-16  Shipped
2757                            1968 Ford Mustang  2005-05-17  Shipped
2758                           1968 Dodge Charger  2005-05-17  Shipped
2759                      1970 Plymouth Hemi Cuda  2005-05-17  Shipped
2760                           1969 Dodge Charger  2005-05-17  Shipped
2761                              1993 Mazda RX-7  2005-05-17  Shipped
2762                        1965 Aston Martin DB5  2005-05-17  Shipped
2763                  1948 Porsche 356-A Roadster  2005-05-17  Shipped
2764                             1995 Honda Civic  2005-05-17  Shipped
2765                 1999 Indy 500 Monte Carlo SS  2005-05-17  Shipped
2766                  1992 Ferrari 360 Spider red  2005-05-17  Shipped
2767               1948 Porsche Type 356 Roadster  2005-05-17  Shipped
2768                      1982 Lamborghini Diablo  2005-05-17  Shipped
2769                    1971 Alpine Renault 1600s  2005-05-17  Shipped
2770                      1956 Porsche 356A Coupe  2005-05-17  Shipped

[2771 rows x 3 columns]

## 2. List the order dates in descending order for orders for the 1940 Ford Pickup Truck.

In [13]:
run("""
SELECT
    productName,
    orderNumber,
    orderDate
FROM
    ((orderdetails
        INNER JOIN
    orders USING (orderNumber))
        INNER JOIN
    products USING (productCode))
WHERE
    productName = '1940 Ford Pickup Truck'
ORDER BY
    orderDate DESC
""")

               productName  orderNumber   orderDate
0   1940 Ford Pickup Truck        10424  2005-05-31
1   1940 Ford Pickup Truck        10411  2005-05-01
2   1940 Ford Pickup Truck        10391  2005-03-09
3   1940 Ford Pickup Truck        10381  2005-02-17
4   1940 Ford Pickup Truck        10370  2005-01-20
5   1940 Ford Pickup Truck        10357  2004-12-10
6   1940 Ford Pickup Truck        10347  2004-11-29
7   1940 Ford Pickup Truck        10333  2004-11-18
8   1940 Ford Pickup Truck        10322  2004-11-04
9   1940 Ford Pickup Truck        10312  2004-10-21
10  1940 Ford Pickup Truck        10304  2004-10-11
11  1940 Ford Pickup Truck        10291  2004-09-08
12  1940 Ford Pickup Truck        10280  2004-08-17
13  1940 Ford Pickup Truck        10270  2004-07-19
14  1940 Ford Pickup Truck        10258  2004-06-15
15  1940 Ford Pickup Truck        10245  2004-05-04
16  1940 Ford Pickup Truck        10228  2004-03-10
17  1940 Ford Pickup Truck        10215  2004-01-29
18  1940 Ford Pickup Truck        10206  2003-12-05
19  1940 Ford Pickup Truck        10194  2003-11-25
20  1940 Ford Pickup Truck        10183  2003-11-13
21  1940 Ford Pickup Truck        10174  2003-11-06
22  1940 Ford Pickup Truck        10164  2003-10-21
23  1940 Ford Pickup Truck        10150  2003-09-19
24  1940 Ford Pickup Truck        10140  2003-07-24
25  1940 Ford Pickup Truck        10126  2003-05-28
26  1940 Ford Pickup Truck        10113  2003-03-26
27  1940 Ford Pickup Truck        10103  2003-01-29

## 3. List the names of customers and their corresponding order number where a particular order from that customer has a value greater than $25,000?

In [14]:
run("""
SELECT
    customerName,
    orderNumber,
    SUM(quantityOrdered * priceEach) AS value
FROM
    ((orderdetails
        INNER JOIN
    orders USING (orderNumber))
        INNER JOIN
    customers USING (customerNumber))
GROUP BY
    orderNumber
HAVING
    value > 25000
""")

                     customerName  orderNumber     value
0              Baane Mini Imports        10103  50218.95
1          Euro+ Shopping Channel        10104  40206.20
2        Danish Wholesale Imports        10105  53959.21
3                   Rovelli Gifts        10106  52151.81
4                 Cruz & Sons Co.        10108  51001.22
5    Motor Mint Distributors Inc.        10109  25833.14
6                  AV Stores, Co.        10110  48425.69
7       La Corne D'abondance, Co.        10114  33383.14
8         Dragon Souveniers, Ltd.        10117  44380.15
9           Salzburg Collectables        10119  35826.33
10     Australian Collectors, Co.        10120  45864.03
11           Marseille Mini Autos        10122  50824.66
12             Signal Gift Stores        10124  32641.98
13     Corrida Auto Replicas, Ltd        10126  57131.92
14             Muscle Machine Inc        10127  58841.35
15       Stylish Desk Decors, Co.        10129  29429.14
16   Mini Gifts Distributors Ltd.        10135  55601.84
17              Kelly's Gift Shop        10138  32077.44
18           Technics Stores Inc.        10140  38675.13
19            Suominen Souveniers        10141  29716.86
20   Mini Gifts Distributors Ltd.        10142  56052.56
21            Mini Creations Ltd.        10143  41016.75
22              Toys4GrownUps.com        10145  50342.74
23     Collectables For Less Inc.        10147  32680.31
24        Anna's Decorations, Ltd        10148  41554.73
25       Signal Collectibles Ltd.        10149  29997.09
26        Dragon Souveniers, Ltd.        10150  38350.15
27        Oulu Toy Supplies, Inc.        10151  32723.04
28         Euro+ Shopping Channel        10153  44939.85
29           Toys of Finland, Co.        10155  37602.48
..                            ...          ...       ...
162        Euro+ Shopping Channel        10380  34404.21
163      Corporate Gift Ideas Co.        10381  32626.09
164  Mini Gifts Distributors Ltd.        10382  47765.59
165        Euro+ Shopping Channel        10383  36851.98
166        Euro+ Shopping Channel        10386  46968.52
167              FunGiftIdeas.com        10388  30293.77
168       Scandinavian Gift Ideas        10389  27966.54
169  Mini Gifts Distributors Ltd.        10390  55902.50
170       Anna's Decorations, Ltd        10391  29848.52
171    Down Under Souveniers, Inc        10393  33593.32
172  Mini Gifts Distributors Ltd.        10396  27695.54
173            Reims Collectables        10398  46656.94
174             Kelly's Gift Shop        10399  30253.75
175     The Sharp Gifts Warehouse        10400  31755.34
176       Tekni Collectables Inc.        10401  43525.04
177         UK Collectables, Ltd.        10403  37258.94
178    Down Under Souveniers, Inc        10404  41426.81
179                   Mini Caravy        10405  35157.75
180     The Sharp Gifts Warehouse        10407  52229.55
181               GiftsForHim.com        10410  36442.34
182  Québec Home Shopping Network        10411  29070.38
183        Euro+ Shopping Channel        10412  46895.48
184               Gift Depot Inc.        10413  28500.78
185             Gifts4AllAges.com        10414  50806.85
186           L'ordine Souveniers        10416  35362.26
187        Euro+ Shopping Channel        10417  28574.90
188         Salzburg Collectables        10419  52420.07
189     Souveniers And Things Co.        10420  42251.51
190        Euro+ Shopping Channel        10424  29310.30
191             La Rochelle Gifts        10425  41623.44

[192 rows x 3 columns]

## 4. Are there any products that appear on all orders?

In [15]:
run("""
SELECT 
    productName,
    COUNT(productCode) AS numberOfAppearanceOnOrders
FROM 
    orderdetails 
        INNER JOIN
    products USING(productCode)
GROUP BY 
    productCode 
HAVING 
    numberOfAppearanceOnOrders = (SELECT COUNT(*) FROM orders)
""")

Empty DataFrame
Columns: [productName, numberOfAppearanceOnOrders]
Index: []

## 5. List the names of products sold at less than 80% of the MSRP.

In [16]:
run("""
SELECT
    productName,
    MSRP,
    orderNumber,
    status,
    priceEach,
    (priceEach / MSRP * 100) AS sellPricePercentageOfTheMSRP
FROM
    ((orderdetails
        INNER JOIN
    products USING (productCode))
        INNER JOIN
    orders USING (orderNumber))
WHERE
    priceEach < 80 / 100 * MSRP
        AND
    status = 'Shipped'
""")

,productName,MSRP,orderNumber,status,priceEach,sellPricePercentageOfTheMSRP
0,1962 Volkswagen Microbus,127.79,10114,Shipped,102.23,79.998435
1,1952 Citroen-15CV,117.44,10124,Shipped,93.95,79.998297
2,Collectable Wooden Train,100.84,10128,Shipped,80.67,79.998017
3,Corsair F4U ( Bird Cage),68.24,10131,Shipped,54.59,79.997069
4,1936 Mercedes Benz 500k Roadster,41.03,10138,Shipped,32.82,79.990251
5,1980s Black Hawk Helicopter,157.69,10143,Shipped,126.15,79.998732
6,1930 Buick Marquette Phaeton,43.64,10143,Shipped,34.91,79.995417
7,1971 Alpine Renault 1600s,61.23,10147,Shipped,48.98,79.993467
8,1936 Mercedes Benz 500k Roadster,41.03,10162,Shipped,32.82,79.990251
9,1962 City of Detroit Streetcar,58.58,10185,Shipped,46.86,79.993172
10,1956 Porsche 356A Coupe,140.43,10192,Shipped,112.34,79.997152
11,1950's Chicago Surface Lines Streetcar,62.14,10220,Shipped,49.71,79.996781
12,P-51-D Mustang,84.48,10223,Shipped,67.58,79.995265
13,1992 Ferrari 360 Spider red,169.34,10239,Shipped,135.47,79.998819
14,P-51-D Mustang,84.48,10263,Shipped,67.58,79.995265
15,1965 Aston Martin DB5,124.44,10266,Shipped,99.55,79.998393
16,1952 Citroen-15CV,117.44,10267,Shipped,93.95,79.998297
17,The USS Constitution Ship,72.28,10273,Shipped,57.82,79.994466
18,1992 Ferrari 360 Spider red,169.34,10281,Shipped,135.47,79.998819
19,1940s Ford truck,121.08,10281,Shipped,96.86,79.996696
20,1993 Mazda RX-7,141.54,10287,Shipped,113.23,79.998587
21,1940s Ford truck,121.08,10291,Shipped,96.86,79.996696
22,1992 Ferrari 360 Spider red,169.34,10301,Shipped,135.47,79.998819
23,American Airlines: B767-300,91.34,10308,Shipped,73.07,79.997810
24,1911 Ford Town Car,60.54,10312,Shipped,48.43,79.996696
25,1962 Volkswagen Microbus,127.79,10313,Shipped,102.23,79.998435
26,1939 Chevrolet Deluxe Coupe,33.19,10322,Shipped,26.55,79.993974
27,1940s Ford truck,121.08,10323,Shipped,96.86,79.996696
28,1965 Aston Martin DB5,124.44,10331,Shipped,99.55,79.998393
29,1956 Porsche 356A Coupe,140.43,10342,Shipped,112.34,79.997152
30,18th century schooner,122.89,10350,Shipped,98.31,79.998373
31,American Airlines: B767-300,91.34,10353,Shipped,73.07,79.997810
32,1996 Moto Guzzi 1100i,118.94,10354,Shipped,95.15,79.998318
33,1976 Ford Gran Torino,146.99,10355,Shipped,117.59,79.998639
34,1937 Lincoln Berline,102.74,10356,Shipped,82.19,79.998053
35,1996 Peterbilt 379 Stake Bed with Outrigger,64.64,10358,Shipped,51.71,79.996906
36,1980s Black Hawk Helicopter,157.69,10360,Shipped,126.15,79.998732
37,1936 Mercedes Benz 500k Roadster,41.03,10380,Shipped,32.82,79.990251
38,1997 BMW F650 ST,99.89,10387,Shipped,79.91,79.997998
39,1939 Chevrolet Deluxe Coupe,33.19,10391,Shipped,26.55,79.993974
40,1992 Ferrari 360 Spider red,169.34,10394,Shipped,135.47,79.998819
41,1956 Porsche 356A Coupe,140.43,10419,Shipped,112.34,79.997152

## 6. Reports those products that have been sold with a markup of 100% or more (i.e.,  the priceEach is at least twice the buyPrice)

In [17]:
run("""
SELECT
    productName,
    buyPrice,
    orderNumber,
    status,
    priceEach,
    ((priceEach - buyPrice) / buyPrice * 100) AS markupPercentage
FROM
    ((orderdetails
        INNER JOIN
    products USING (productCode))
        INNER JOIN
    orders USING (orderNumber))
WHERE
    priceEach >= 2 * buyPrice
        AND
    status = 'Shipped'
""")

,productName,buyPrice,orderNumber,status,priceEach,markupPercentage
0,1928 Mercedes-Benz SSK,72.56,10101,Shipped,167.06,130.237045
1,1938 Cadillac V-16 Presidential Limousine,20.61,10101,Shipped,44.35,115.186803
2,1952 Alpine Renault 1300,98.58,10103,Shipped,214.30,117.386894
3,1926 Ford Fire Engine,24.92,10103,Shipped,58.34,134.109149
4,1982 Camaro Z28,46.53,10103,Shipped,94.07,102.170643
5,1992 Ferrari 360 Spider red,77.90,10104,Shipped,165.95,113.029525
6,1950's Chicago Surface Lines Streetcar,26.72,10104,Shipped,56.55,111.639222
7,2001 Ferrari Enzo,95.59,10105,Shipped,205.72,115.210796
8,The Mayflower,43.30,10105,Shipped,86.61,100.023095
9,1937 Horch 930V Limousine,26.30,10106,Shipped,55.89,112.509506
10,HMS Bounty,39.83,10106,Shipped,85.09,113.632940
11,1936 Harley Davidson El Knucklehead,24.23,10107,Shipped,52.70,117.498968
12,1970 Plymouth Hemi Cuda,31.92,10108,Shipped,75.81,137.500000
13,1957 Corvette Convertible,69.93,10108,Shipped,139.87,100.014300
14,1961 Chevrolet Impala,32.33,10108,Shipped,67.10,107.547170
15,2002 Yamaha YZR M1,34.17,10108,Shipped,74.85,119.051800
16,1999 Indy 500 Monte Carlo SS,56.76,10109,Shipped,126.72,123.255814
17,1992 Ferrari 360 Spider red,77.90,10109,Shipped,160.87,106.508344
18,1948 Porsche Type 356 Roadster,62.16,10109,Shipped,125.74,102.284427
19,1928 Mercedes-Benz SSK,72.56,10110,Shipped,163.69,125.592613
20,1936 Mercedes-Benz 500K Special Roadster,24.26,10111,Shipped,48.52,100.000000
21,1952 Alpine Renault 1300,98.58,10112,Shipped,197.16,100.000000
22,1926 Ford Fire Engine,24.92,10114,Shipped,53.48,114.606742
23,1992 Ferrari 360 Spider red,77.90,10114,Shipped,169.34,117.381258
24,1950's Chicago Surface Lines Streetcar,26.72,10116,Shipped,60.28,125.598802
25,2001 Ferrari Enzo,95.59,10117,Shipped,195.33,104.341458
26,1969 Ford Falcon,83.05,10117,Shipped,173.02,108.332330
27,1937 Horch 930V Limousine,26.30,10119,Shipped,63.12,140.000000
28,Corsair F4U ( Bird Cage),29.34,10119,Shipped,62.10,111.656442
29,1936 Harley Davidson El Knucklehead,24.23,10120,Shipped,57.54,137.474206
...,...,...,...,...,...,...
435,2002 Yamaha YZR M1,34.17,10390,Shipped,81.36,138.103600
436,1926 Ford Fire Engine,24.92,10391,Shipped,57.73,131.661316
437,1958 Chevy Corvette Limited Edition,15.91,10394,Shipped,35.36,122.250157
438,1950's Chicago Surface Lines Streetcar,26.72,10394,Shipped,55.93,109.318862
439,2001 Ferrari Enzo,95.59,10395,Shipped,205.72,115.210796
440,1937 Horch 930V Limousine,26.30,10398,Shipped,61.15,132.509506
441,1936 Harley Davidson El Knucklehead,24.23,10399,Shipped,51.48,112.463888
442,1960 BSA Gold Star DBD34,37.32,10399,Shipped,75.41,102.063237
443,1937 Horch 930V Limousine,26.30,10400,Shipped,59.18,125.019011
444,HMS Bounty,39.83,10400,Shipped,82.37,106.803917
445,1936 Harley Davidson El Knucklehead,24.23,10402,Shipped,58.15,139.991746
446,1970 Plymouth Hemi Cuda,31.92,10404,Shipped,67.03,109.993734
447,1961 Chevrolet Impala,32.33,10404,Shipped,65.48,102.536344
448,1982 Lamborghini Diablo,16.24,10405,Shipped,37.38,130.172414
449,1936 Mercedes-Benz 500K Special Roadster,24.26,10410,Shipped,51.21,111.088211
450,1928 Mercedes-Benz SSK,72.56,10410,Shipped,145.13,100.013782
451,1938 Cadillac V-16 Presidential Limousine,20.61,10410,Shipped,42.56,106.501698
452,1952 Alpine Renault 1300,98.58,10411,Shipped,205.73,108.693447
453,1992 Ferrari 360 Spider red,77.90,10412,Shipped,157.49,102.169448
454,1958 Chevy Corvette Limited Edition,15.91,10412,Shipped,32.88,106.662476
455,2001 Ferrari Enzo,95.59,10413,Shipped,201.57,110.869338
456,1969 Ford Falcon,83.05,10413,Shipped,173.02,108.332330
457,1950's Chicago Surface Lines Streetcar,26.72,10413,Shipped,56.55,111.639222
458,Corsair F4U ( Bird Cage),29.34,10416,Shipped,64.83,120.961145
459,1928 Ford Phaeton Deluxe,33.02,10416,Shipped,68.10,106.238643
460,1961 Chevrolet Impala,32.33,10418,Shipped,66.29,105.041757
461,2002 Yamaha YZR M1,34.17,10418,Shipped,72.41,111.911033
462,1970 Plymouth Hemi Cuda,31.92,10419,Shipped,64.64,102.506266
463,1999 Indy 500 Monte Carlo SS,56.76,10419,Shipped,116.16,104.651163
464,1992 Ferrari 360 Spider red,77.90,10419,Shipped,165.95,113.029525

## 7. List the products ordered on a Monday.

In [18]:
run("""
SELECT 
    o.orderNumber,
    orderDate,
    DAYNAME(orderDate) AS orderDay,
    p.productCode,
    productName
FROM
    ((orderdetails
        INNER JOIN
     products p USING (productCode))
        INNER JOIN
    orders o USING (orderNumber))
WHERE
    DAYNAME(orderDate) = 'Monday'
ORDER BY
    orderNumber
""")

,orderNumber,orderDate,orderDay,productCode,productName
0,10100,2003-01-06,Monday,S18_1749,1917 Grand Touring Sedan
1,10100,2003-01-06,Monday,S18_2248,1911 Ford Town Car
2,10100,2003-01-06,Monday,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport
3,10100,2003-01-06,Monday,S24_3969,1936 Mercedes Benz 500k Roadster
4,10106,2003-02-17,Monday,S18_1662,1980s Black Hawk Helicopter
5,10106,2003-02-17,Monday,S18_2581,P-51-D Mustang
6,10106,2003-02-17,Monday,S18_3029,1999 Yamaha Speed Boat
7,10106,2003-02-17,Monday,S18_3856,1941 Chevrolet Special Deluxe Cabriolet
8,10106,2003-02-17,Monday,S24_1785,1928 British Royal Navy Airplane
9,10106,2003-02-17,Monday,S24_2841,1900s Vintage Bi-Plane
10,10106,2003-02-17,Monday,S24_3420,1937 Horch 930V Limousine
11,10106,2003-02-17,Monday,S24_3949,Corsair F4U ( Bird Cage)
12,10106,2003-02-17,Monday,S24_4278,1900s Vintage Tri-Plane
13,10106,2003-02-17,Monday,S32_4289,1928 Ford Phaeton Deluxe
14,10106,2003-02-17,Monday,S50_1341,1930 Buick Marquette Phaeton
15,10106,2003-02-17,Monday,S700_1691,American Airlines: B767-300
16,10106,2003-02-17,Monday,S700_2047,HMS Bounty
17,10106,2003-02-17,Monday,S700_2466,America West Airlines B757-200
18,10106,2003-02-17,Monday,S700_2834,ATA: B757-300
19,10106,2003-02-17,Monday,S700_3167,F/A 18 Hornet 1/72
20,10106,2003-02-17,Monday,S700_4002,American Airlines: MD-11S
21,10106,2003-02-17,Monday,S72_1253,Boeing X-32A JSF
22,10107,2003-02-24,Monday,S10_1678,1969 Harley Davidson Ultimate Chopper
23,10107,2003-02-24,Monday,S10_2016,1996 Moto Guzzi 1100i
24,10107,2003-02-24,Monday,S10_4698,2003 Harley-Davidson Eagle Drag Bike
25,10107,2003-02-24,Monday,S12_2823,2002 Suzuki XREO
26,10107,2003-02-24,Monday,S18_2625,1936 Harley Davidson El Knucklehead
27,10107,2003-02-24,Monday,S24_1578,1997 BMW R 1100 S
28,10107,2003-02-24,Monday,S24_2000,1960 BSA Gold Star DBD34
29,10107,2003-02-24,Monday,S32_1374,1997 BMW F650 ST
...,...,...,...,...,...
377,10373,2005-01-31,Monday,S72_1253,Boeing X-32A JSF
378,10373,2005-01-31,Monday,S72_3212,Pont Yacht
379,10385,2005-02-28,Monday,S24_3816,1940 Ford Delivery Sedan
380,10385,2005-02-28,Monday,S700_1138,The Schooner Bluenose
381,10397,2005-03-28,Monday,S700_1938,The Mayflower
382,10397,2005-03-28,Monday,S700_2610,The USS Constitution Ship
383,10397,2005-03-28,Monday,S700_3505,The Titanic
384,10397,2005-03-28,Monday,S700_3962,The Queen Mary
385,10397,2005-03-28,Monday,S72_3212,Pont Yacht
386,10415,2005-05-09,Monday,S18_3856,1941 Chevrolet Special Deluxe Cabriolet
387,10415,2005-05-09,Monday,S24_2841,1900s Vintage Bi-Plane
388,10415,2005-05-09,Monday,S24_3420,1937 Horch 930V Limousine
389,10415,2005-05-09,Monday,S700_2047,HMS Bounty
390,10415,2005-05-09,Monday,S72_1253,Boeing X-32A JSF
391,10418,2005-05-16,Monday,S18_3278,1969 Dodge Super Bee
392,10418,2005-05-16,Monday,S18_3482,1976 Ford Gran Torino
393,10418,2005-05-16,Monday,S18_3782,1957 Vespa GS150
394,10418,2005-05-16,Monday,S18_4721,1957 Corvette Convertible
395,10418,2005-05-16,Monday,S24_2360,1982 Ducati 900 Monster
396,10418,2005-05-16,Monday,S24_4620,1961 Chevrolet Impala
397,10418,2005-05-16,Monday,S32_2206,1982 Ducati 996 R
398,10418,2005-05-16,Monday,S32_4485,1974 Ducati 350 Mk3 Desmo
399,10418,2005-05-16,Monday,S50_4713,2002 Yamaha YZR M1
400,10422,2005-05-30,Monday,S18_1342,1937 Lincoln Berline
401,10422,2005-05-30,Monday,S18_1367,1936 Mercedes-Benz 500K Special Roadster
402,10423,2005-05-30,Monday,S18_2949,1913 Ford Model T Speedster
403,10423,2005-05-30,Monday,S18_2957,1934 Ford V8 Coupe
404,10423,2005-05-30,Monday,S18_3136,18th Century Vintage Horse Carriage
405,10423,2005-05-30,Monday,S18_3320,1917 Maxwell Touring Car
406,10423,2005-05-30,Monday,S24_4258,1936 Chrysler Airflow

## 8. What is the quantity on hand for products listed on 'On Hold' orders?

In [19]:
run("""
SELECT
    o.orderNumber,
    status,
    productCode,
    productName,
    quantityInStock
FROM
    ((orderdetails
        INNER JOIN
    orders o USING (orderNumber))
        INNER JOIN
    products USING (productCode))
WHERE
    status = 'On Hold'
GROUP BY
    productCode
ORDER BY
    orderNumber
""")

,orderNumber,status,productCode,productName,quantityInStock
0,10334,On Hold,S18_3232,1992 Ferrari 360 Spider red,8347
1,10334,On Hold,S18_2319,1964 Mercedes Tour Bus,8258
2,10334,On Hold,S24_2300,1962 Volkswagen Microbus,2327
3,10334,On Hold,S10_4962,1962 LanciaA Delta 16V,6791
4,10334,On Hold,S18_4600,1940s Ford truck,3128
5,10334,On Hold,S18_2432,1926 Ford Fire Engine,2018
6,10401,On Hold,S700_1691,American Airlines: B767-300,5841
7,10401,On Hold,S50_1341,1930 Buick Marquette Phaeton,7062
8,10401,On Hold,S18_2581,P-51-D Mustang,992
9,10401,On Hold,S700_3167,F/A 18 Hornet 1/72,551
10,10401,On Hold,S32_1374,1997 BMW F650 ST,178
11,10401,On Hold,S24_3949,Corsair F4U ( Bird Cage),6812
12,10401,On Hold,S24_1785,1928 British Royal Navy Airplane,3627
13,10401,On Hold,S700_4002,American Airlines: MD-11S,8820
14,10401,On Hold,S32_4289,1928 Ford Phaeton Deluxe,136
15,10401,On Hold,S700_2834,ATA: B757-300,7106
16,10401,On Hold,S24_4278,1900s Vintage Tri-Plane,2756
17,10401,On Hold,S700_2466,America West Airlines B757-200,9653
18,10407,On Hold,S18_1589,1965 Aston Martin DB5,9042
19,10407,On Hold,S24_1628,1966 Shelby Cobra 427 S/C,8197
20,10407,On Hold,S24_3191,1969 Chevrolet Camaro Z28,4695
21,10407,On Hold,S18_4933,1957 Ford Thunderbird,3209
22,10407,On Hold,S24_2887,1952 Citroen-15CV,1452
23,10407,On Hold,S18_1749,1917 Grand Touring Sedan,2724
24,10407,On Hold,S24_3432,2002 Chevy Corvette,9446
25,10407,On Hold,S24_1046,1970 Chevy Chevelle SS 454,1005
26,10407,On Hold,S18_2870,1999 Indy 500 Monte Carlo SS,8164
27,10407,On Hold,S24_2766,1949 Jaguar XK 120,2350
28,10407,On Hold,S18_4409,1932 Alfa Romeo 8C2300 Spider Sport,6553
29,10407,On Hold,S18_2248,1911 Ford Town Car,540
30,10414,On Hold,S24_3816,1940 Ford Delivery Sedan,6621
31,10414,On Hold,S72_3212,Pont Yacht,414
32,10414,On Hold,S18_3029,1999 Yamaha Speed Boat,4259
33,10414,On Hold,S700_3962,The Queen Mary,5088
34,10414,On Hold,S10_4757,1972 Alfa Romeo GTA,3252
35,10414,On Hold,S18_4522,1904 Buick Runabout,8290
36,10414,On Hold,S700_2610,The USS Constitution Ship,7083
37,10414,On Hold,S18_3259,Collectable Wooden Train,6450
38,10414,On Hold,S700_1938,The Mayflower,737
39,10414,On Hold,S18_3140,1903 Ford Model A,3913
40,10414,On Hold,S700_1138,The Schooner Bluenose,1897
41,10414,On Hold,S24_3151,1912 Ford Model T Delivery Wagon,9173
42,10414,On Hold,S700_3505,The Titanic,1956
43,10414,On Hold,S24_2011,18th century schooner,1898